/*--------------------------------------------------------------
The BlogWidget styling
--------------------------------------------------------------*/
.blog {
    padding-top: 10rem;
    padding-bottom: 10rem; 
    background-color: #fff;
}

.blogTitle {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: 0;
  margin-bottom: 6rem;
}
  
.blogOuterWrap {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
  
.blogInnerWrap {
  width: 50%;
  float: left;
  padding-left: 3em;
  padding-right: 3em;

  @media (max-width: 980px) {
      width: 100%;
      float: left;
  }

  h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
  }
}

.widgetRecentEntries {
  li {
    margin-bottom: 10px;
  }
}

.blogNavWrapper {
  background-color: #cf4646;
  border-bottom: 1px solid #444;

  a {
    color: #F1F1F1;
  }

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.blogContainer {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.blogContent {
  padding: 64px 4em;

  @media (max-width: 980px) {
      padding-right: 0;
      border-right: none;
  }
}

.blogWrapper {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  padding: 4em;
  padding-right: 2em;

  @media (max-width: 980px) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding-right: 4em;
  }

  @media (max-width: 480px) {
      padding-right: 1em;
      padding-left: 1em;
  }
}

.widgetArea {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  padding-top: 5.5em;

  @media (max-width: 980px) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding: 0 4em 2em;

      h1 {
        border-top: solid 1px lightgray;
        line-height: 46px;
      }
  }

  @media (max-width: 480px) {
      padding-right: 1em;
      padding-left: 1em;
  }
}

.blogHeader {
  font-size: 37.904px;
}

.blogEntry {
  p {
    line-height: 28.8px;
    font-size: 16.8px;
    margin-bottom: 1em;
  }

  img {
    width: 100%;
  }

  li {
    margin-bottom: .5em;
  }

  @media (min-width: 352px) {
    .no-full-width {
      width: inherit;
    }
  }
}

.entryMeta {
  margin-top: 2em;
}

.commentsArea {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  padding-right: 4em;
  clear: both;
  padding-left: 4em;
  padding-bottom: 2em;

  @media (max-width: 980px) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding: 0 4em 2em;
  }

  @media (max-width: 480px) {
      padding-right: 1em;
      padding-left: 1em;
  }

  @media (max-width: 980px) {
    h2 {
      border-top: solid 1px lightgray;
      line-height: 46px;
    }
  }
}

.commentAuthor {
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0.2em;
}

.commentMetadata {
  padding: 1em;
  padding-top: 0;
}

.commentContent {
  padding-left: 1em;
}

.reply {
  padding: 1em;
}

.commentList {
  padding-left: 1.3em;
}

#comment {
  width: 100%;
}

p.comment-form-comment {
  padding: 1em;
  padding-left: 0;
}

#replyTitle {
  margin-bottom: .2em;
}

.commentFormAuthor input {
  margin-bottom: 1em;
}

.commentFormEmail input {
  margin-bottom: 1em;
}

.submit {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  font-size: 20px;
  color: #444;
  transition: background-color 400ms ease-out;
  width: 313px;
  border-radius: 3px;
  background-color: transparent;
  border: solid 1px #444;
  margin-top: 2em;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    background-color: #cf4646;
  }

  @media (max-width: 465px) {
      width: 158px;
      font-size: 15px;
  }
}

.readMoreLink {
  display: block;
  margin-top: 1em;
}

.blogBtn {
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 80px auto 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  font-size: 20px;
  color: #000;
  transition: background-color 400ms ease-out;
  max-width: 200px;
  width: 100%;
  border-radius: 3px;
  background-color: transparent;
  border: solid 1px #000;
}