.projects {
	background-color: #9c4002;
	padding: 10rem 0;
}

.projectsTitleTitleWrap {
	margin-bottom: 3rem;
}

.projectsTitle {
	text-align: center;
	margin-top: 0;
	margin-top: 0;
	margin-bottom: 6rem;
	color: #fff;
	font-family: "Playfair Display", serif;
	font-size: 3.2rem;
}

.projectsSubTitle {
	color: #fff;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.grid {
	max-width: 100%;
	display: flex;
    flex-wrap: wrap;
}

.projectBox {
	
}

.projectBoxImg {
	display: block;
}

.projectBoxTax {

}

.gridItem {
	width: 25%;
	box-sizing: border-box;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

	@media (max-width: 667px) {
		width: 50%;
	}

	img {
		max-width: 100%;
		height: auto;
		vertical-align: bottom;
	}

	ul {
		margin: -3px 0 0 0;
	}
}

.projectBoxContent {
	list-style: none;
	display: flex;
	background-color: #fff;
	padding: 2rem 1rem;
	color: #313131;
	font-weight: bold;
}

.contentItem {
	padding-left: 0.5rem;
}

.gridItemLink {
	text-decoration: none;
	color: #313131;
	display: block;
}

.filterBtn {
	display: inline-block;
	margin-bottom: 6rem;
	position: relative;
	left: 50%;
	transform: translate(-50%);

	button {
		display: inline-block;
		padding: 10px 15px;
		margin-bottom: 10px;
		background: transparent;
		transition: background-color 500ms;
		border: 1px solid #fff;
		color: #fff;
		font-family: sans-serif;
		font-size: 12px;
		cursor: pointer;
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}

		&:first-child {
			border-radius: 0.5em 0 0 0.5em;
		}

		&:last-child {
			border-radius: 0 0.5em 0.5em 0;
		}

		&:hover {
			background-color: #333;
			color: #fff;
		}

		&:active,
		&.isChecked {
			background-color: #151515;
		}

		&.isChecked {
			color: #fff;
		}

		@media ( min-width: 1080px ) {
			font-size: 14px;
		}
	}
}
