/*--------------------------------------------------------------
The About Me styling
--------------------------------------------------------------*/
.aboutMe {
  background-color: #fff;
  color: #000;
}

.aboutMeWrapper {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;

  &:after {
    content: " ";
    display: block;
    clear: both;
  }

  @media (max-width: 768px) {
    max-width: 80%;
  }
}

.aboutMeTitle {
  text-align: center;
  color: #313131;
  margin-top: 0;
  margin-bottom: 6rem;
}

.myName {
  text-align: center;
}

.aboutMeContent {
  h3 {
    font-size: 22px;
    margin-top: 2.5em;

    @media (max-width: 480px) {
        font-size: 18px;
    }
  }

  h4,
  p {
    display: block;
    line-height: 1.8;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #313131;

    @media(min-width: 668px) {
      text-align: center;
    }
  }

  h4 {
    margin-bottom: 0;

    @media (max-width: 480px) {
        font-size: 15px;
        margin-bottom: .5em;
    }
  }

  li {
    margin-bottom: 0.5em;
    line-height: 20px;
  }

  .underline {
    text-decoration: underline;
  }

  .see-resume {
    margin-top: 2em;
    text-transform: uppercase;
  }
}