.navContainer {
  background-color: var(--footer-bg);
  width: 70px;
  position: fixed;
  height: 100vh;
  right: 0;
  z-index: 1;
  overflow-y: scroll;

  @media ( min-width: 1080px ) {
    width: 350px;
    padding: 0 20px;
  }
}

.navContent {
  display: flex;
  align-items: center;
}

.navContentBox {
    width: 100%;
}

.buttonContainer {
    padding: 20px 0 0;
}

.headingName {
    text-align: center;
    color: #fff;
    padding: 20px 0 0;
    font-size: 2.8rem;
}

.headShot {

}

.socialContainer {

}

.navLists {
    text-align: center;
    border-top: 0.1rem solid #ddd;
    padding: 20px 0;
    border-bottom: .1rem solid #ddd;

    @media ( min-width: 1080px ) {
        padding: 0 0 20px;
        border: inherit;
    }
}

.navList {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
    
    a {
        color: #fff;
        text-decoration: none;
        display: block;
    }
}

.fontColor {
    color: #fff;
}

.socialLists {
    

    @media ( min-width: 1080px ) {
        display: flex;
        justify-content: center;
    }
}

.socialList {
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    a {
        font-size: 40px;
        color: #ddd;
        transition: color 400ms ease-out;
    }

    @media ( min-width: 1080px ) {
        margin-right: 10px;
        text-align: inherit;
    }

    svg {
      font-size: 4rem;
      color: #ddd;
      transition: color 400ms ease-out;
    }
}


.iconLinkedin {
  svg {
    &:hover {
      color: #287bbc;
      transition: color 400ms ease-out;
    }
  }
}

.iconTwitter {
  svg {
    &:hover {
      color: #4099ff;
      transition: color 400ms ease-out;
    }
  }
}

.iconGithub {
  svg {
    &:hover {
      color: #f1ad72;
      transition: color 400ms ease-out;
    }
  }
}

#menuToggle {
  display: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  margin: auto;
  width: 33px;

  @media ( min-width: 1080px ) {
    margin: inherit;
  }
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.mobileMenuName,
.mobileHeadingName {
    
    @media ( min-width: 1080px ) {
        display: none;
    }
}

.desktopMenuName,
.desktopHeadingName {
    display: none;

    @media ( min-width: 1080px ) {
        display: inherit;
    }
}
