@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title-font;
  }

  body {
    @apply font-text-font;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
